@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
     scroll-behavior: smooth !important;
  }
 
}

.link:hover + .line {
  
 width:100%;
 transition:width .2s ease,opacity .35s ease;



}

.furni:hover > .img{
  transform: scale(1.05) translateY(-2%);
  transition: transform .5s ease-in-out;
}
.furni:hover > .furni-btn{
  display: block;
  bottom: -20px;
  opacity: 1;
  transition: all 1s ease-in;

}
.top-fur:hover > span{
  height:60%;
  transition: all .5s ease-in;

}
.interior-list{
  list-style: url('../public/images/circle.svg');
  list-style-position: inside;
  
}

.tes-btn:hover > .icon{
  color:#fff
}

.circle:hover > .icon-s{
  color:#fff
}
.circle{
  cursor: pointer;
}


@media screen and (max-width:640px) {
  p{
    font-size: small;
  }
  li{
    font-size: small;

  }
  span{
    font-size: small;

  }
}